<div class="" style="background: url(/assets/bg2.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	height: 100%;">
	<%= render 'layouts/header' %>
	<div class="container">
		<div id="center">
			<div class="center hero-message">
				<h1 style="margin: 0 0 10px"><span class="rotate">Smart is the new sexy, Talk nerdy to us, Everyone thinks differently, No power like brain power, Not challenged?</span></h1>
				<h3>Scored in the top 2% of any standardized test?</h3>
				<div class="row">
					<div class="col-lg-12">
						<a class="btn btn-info btn-lg uppercase" href="/register">Join Mensa</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/about_us' %>
<%= render 'layouts/celebrity' %>
<%= render 'layouts/boardmembers' %>
<%= render 'layouts/contact_form' %>
<%= render 'layouts/social_links' %>
<%= render 'layouts/footer' %>