<header class="navbar navbar-fixed-top bs-docs-nav" id="top" role="banner">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= image_tag("Mensa_logo.png", height: "100", id: "logo") %>
      <a href="../" class="navbar-brand">Greater New York Mensa</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
      	<li>
          <%= link_to "About Us", "" %>
        </li>
      	<li>
          <%= link_to "Calendar", "" %>
        </li>
      	<li>
          <%= link_to "Join", "" %>
        </li>
        <li>
          <%= link_to "Gifted Youth", "" %>
        </li>
        <li>
          <%= link_to "Contacts", "" %>
        </li>
        <li>
          <%= link_to "SIGS", "" %>
        </li>
        <li>
          <%= link_to "Members Only", "#" %>
        </li>
       </ul>
    </nav>
  </div>
</header>